<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrmotm2kGLNNizI97nxGTWewNE6GbgRKw</string>
	<key>GCM_SENDER_ID</key>
	<string>799208073244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onlineCollege</string>
	<key>PROJECT_ID</key>
	<string>online-college-da0ab</string>
	<key>STORAGE_BUCKET</key>
	<string>online-college-da0ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799208073244:ios:9d683ea2c7dcaeacf997d9</string>
</dict>
</plist>